/* App.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #a4edea; /* Fallback if Tailwind not used properly */
}

.awning-image {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: monospace, Avenir, Helvetica, Arial, sans-serif;
  color: #f3f4f6;
  background-color: #92e2e0;
}